venv/
.vscode/
.pytest_cache/
__pycache__/

# Ignore HTML report files (while still committing .py files in reports)
reports/*.html
test-output/*
# Ignore all temporary Excel files (containing ~$)
~$*.xlsx
~$*.xlsm
~$*.xls
~$*