venv/
.vscode/
.pytest_cache/
__pycache__/

# Ignore HTML report files (while still committing .py files in reports)
reports/*.html
test-output/*
# Ignore all temporary Excel files (containing ~$)
~$*.xlsx
~$*.xlsm
~$*.xls
~$*
build/*
dist/*
# Bỏ qua toàn bộ file dữ liệu bên trong (bao gồm cả thư mục con)
resources/raw_data/**
resources/sharetec_data/**

# Giữ lại các file .gitkeep để Git nhận diện và giữ cấu trúc thư mục
!resources/raw_data/**/.gitkeep
!resources/sharetec_data/**/.gitkeep